body{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgba(7, 12, 17, 0.849);


}

header{

  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-image: url(../images/bg1.jpg);
  
  

}

.container{

  width: 1280px;
  margin: auto;

}

.nav_click{

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 25px 0px;

}

.logo{

  background-image: url(../images/logo.jpg);
  background-position: center;
  background-size: cover;
  background-origin: padding-box;
  width: 150px;
  height: 60px;

}

.tab-nav{
  
  outline: none;
  display: none;

}

.label{
  
  display: none;
  color: white;

}

.burger{
  
  width: 35px;
  height: 5px;
  background-color: white;
  margin-top: 2px;
}

.content{

  grid-column: 5;
  list-style: none;
  margin: 0;
  padding: 0;

}

.content li{
  
  display: inline-block;
  padding-right: 10px;

}

.content li a{

  text-decoration: none;
  color: rgb(255, 254, 254);
  position: relative;
}

.content li a::after{
  
  content: '';
  display: block;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  transform-origin: right;
  transform: scale(0,1);
  transition: transform ease-in-out 0.5s;

}

.container li a:hover::after{

  transform: scale(1,1);
}

.cont_sec{

  height: 120vh;
  background-image: url(../images/bg1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-items: center;
  align-items: center;

}

.cont_sec p{

  font-size: 35px;
  color: rgba(255, 255, 255, 0.801);
  font-family: 'Goudy Stout';

}

@media screen and (max-width: 1280px){

  .container{
    
    width: 100%;

  }

}

@media screen and (max-width: 770px){

  .label{
    
    display: grid;
    cursor: pointer;
    grid-column: 3;
    padding-right: 10px;

  }

  .content{

    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/4;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.6s;
    

  }

  .nav_click input:checked ~ .content{

    max-height: 500px;

  }

  .content li{

    padding: 15px 0px;
    
  }


}
/*
.serv{

  background-image: url(../images/bg2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-items: center;
  align-items: center;
  height: 600px;

}*/

.serv,p{

  color: rgb(253, 255, 255);
  text-align: center;
  font-size: 50px;
  font-family: 'OCR A';

}

.col,h1,p{

  font-family: 'Niagara Solid';
  text-align: center;
  font-size: 35px;
  text-align:inherit;

  

}


.row{

  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-between;
  margin-left: 110px;

}

.row .col img{

  width: 80%;
  flex-direction: column;
  align-items: center;

}

.frames .pic1 img{

 width: 400px;
 height: 250px;

}

.frames ,p a{

  font-family: 'Niagara Solid';
  background-color:dimgray;
  align-items: center;
  font-size: 25px;
}
